/*HEADEEER*/*{
	margin: 0;
}
body, html{
	width: 100%;
	height: 100%;
}
.wrapper{
	width: 100%;
	background-color: rgba(2,57,186,0.1);
}
#topbar{
	height: 70px;
	width: 100%;
	background: rgba(220,220,220, 0.3);
	box-shadow: 0 0px 10px -2px rgba(0,0,0,.3);
}
#logo{
	width: 190px;
	height: 100%;
	margin-left: 50px;
	float: left;
}
.user{
	position: absolute;
	left: 300px;
	/*background: black;*/
	height: 70px;
	/*width: 300px;*/
}
.user a{
	display: inline-block;
	line-height: 70px;
	color: #000; 
	font-size: .9em;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 20px;
}
.user a:hover{
	background-color: rgba(255,255,255,0.3);
}

nav ul{
	list-style: none;
	position: absolute;
	right: 200px;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!111*/
nav ul li:hover{background: rgba(150,200,240, 0.8);} 

nav ul li:hover > ul{display: block;}

nav ul li{
	 float: left;
	 -webkit-transition: all .3s ease-in-out;
	 -moz-transition: all .3s ease-in-out;
	 transition: all .3s ease-in-out;
}
nav ul ul li{
	background: rgba(220,220,220, 0.9); 
}
nav ul li a{
		display: block; 
		padding: 27px 20px;
		color: #000; 
		font-size: .9em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
}
nav ul ul{
		display: none;
		left: 86px;
}
nav ul ul li a {
		padding: 10px;
		width: 100px;
}
/* НАЧАЛО АНИМИРОВАННОГО ПОИСКА*/
#search{
	float: right;
	line-height: 70px;
	width: 195px;
}
#search>input{
	border-radius: 20px;
	outline: none;
	padding: 0 5px;
	width: 45px;
	border: none;
	-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
#search:hover>input, #search>input:focus{
	width: 10em; 
}
#find{
	margin-bottom: -3px;
}
body:hover nav form input{
	width: 45px;
}
/* КОНЕЦ АНИМИРОВАННОГО ПОИСКА*/
/*END HEAADEER*/
.clr{
	clear: both;
}
div.content{
	width: 1170px;	
	padding: 10px 0;
	overflow: hidden;
	margin: 0 auto;
}
div.posts{
	width: 100%;
	background: rgba(255,255,255, 0.5);
	overflow: hidden;
	border-radius: 15px;
}
#post{
	border-radius: 15px;
	margin: 10px;
	border: 1px solid rgba(0,0,0,.2);
	padding: 10px 10px;
}
#post h3{
	float: left;
	text-decoration: none;
	color: #333;
	margin-left: 10px;
}
#post h3:hover{
	text-decoration: underline;
}
#time{
	float: right;
}
#time>span{
	font-weight: bold;
}
#post>article {
	padding: 10px 5px;
	overflow: hidden;
}
.artimg img{
	max-width: 200px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius: 20px;
	border: 5px solid green;
}
.like{
	height: 15px;
	text-align: right;
	line-height: 15px;
	margin: 10px 0;
}
.like i:hover{
	color: grey;
	cursor: pointer;
}
.tags{
	float: left;
}
.tags span{
	border-radius: 20px;
	text-decoration: none;
	background-color: #333;
}
.comments_shape {
	width: 100%;
	border: 2px solid black;
	padding: 10px 0;
	/*margin-top: 20px;*/
}
.comments{
	width: 100%;
	border: 2px solid black;
}
.comment{
	width: 700px; 
    margin: 15px auto; 
    background: #fc0;
    border: 2px solid black;
}
.comment_author{
	float: left;
}
.comment_time{
	text-align: right;
}
/*.new_comment{
	border: 2px solid black;
	width: 50%;
	height: 200px;
}*/
div.top_panel{
	box-shadow: 0 3px 10px -2px rgba(0,0,0,.5);
	border-radius: 20px;
	overflow: hidden;
	text-align: center;
	margin: 10px;
}
.twn{
	padding: 10px;
}
.headhesive{
	transform: translateY(-150%);
	position: fixed;
	z-index: 5;
	/*padding: 25px 0;*/
}
.headhesive--stick{
	transform: translateY(0%);
	top: 0;
	width: 100%;
	transition: 0.4s;
	/*padding: 10px 0;*/
}