/*-------------------------HEADEEER-----------------------------*/
*{
	margin: 0;
}
body, html{
	width: 100%;
	height: 100%;
}
.wrapper{
	width: 100%;
	background-color: rgba(2,57,186,0.1);
}
#topbar{
	height: 70px;
	width: 100%;
	background: rgba(2,57,220, 0.2);
	box-shadow: 0 2px 10px -2px rgba(0,0,0,.3);
}
.headhesive{
	position: absolute;
	top: -100px;
	height: 10px;
}
.headhesive--stick{
	position: fixed;
	top: 0px;
	z-index: 10;

	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;

	background: rgba(2,57,220, 0.5);
	/*box-shadow: 0 2px 10px -2px rgba(0,0,0,.3);*/
}
.headhesive--unstick{
	height: 10px;
}
#logo{
	width: 190px;
	height: 100%;
	margin-left: 50px;
	float: left;
}
.user{
	position: absolute;
	left: 300px;
	/*background: black;*/
	height: 70px;
	/*width: 300px;*/
}
.user a{
	display: inline-block;
	line-height: 70px;
	color: #000; 
	font-size: .9em;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 20px;
}
.user a:hover{
	background-color: rgba(2,57,220, 0.2);
}

nav ul{
	list-style: none;
	position: absolute;
	right: 200px;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!111*/
nav ul li:hover{background: rgb(147,170,239)} 

nav ul li:hover > ul{display: block;}

nav ul li{
	float: left;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
nav ul ul li{
	background: rgba(184,199,243, 1);
}
nav ul li a{
		display: block; 
		padding: 0 15px;
		line-height: 70px;
		color: #000; 
		font-size: .9em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
}
nav ul ul{
		display: none;
		left: 71px;
}
nav ul ul li a {
		padding: 10px;
		width: 100px;
		line-height: 30px;
}
/* НАЧАЛО АНИМИРОВАННОГО ПОИСКА*/
#search{
	float: right;
	line-height: 70px;
	width: 195px;
}
#search>input{
	border-radius: 20px;
	outline: none;
	padding: 0 5px;
	width: 4em;
	height: 30px;
	border: none;
	-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
#search:hover>input, #search>input:focus{
	width: 10em;
}
#find{
	margin-bottom: -3px;
}
body:hover nav form input{
	width: 45px;
}
/* КОНЕЦ АНИМИРОВАННОГО ПОИСКА*/
/*----------------------------------------END HEAADEER----------------------------------*/
.clr{
	clear: both;
}
div.content{
	padding: 10px 0;
	overflow: hidden;
	margin: 0 auto;
}
.sidebar{
	margin-top: 10px;
	margin-left: 20px;
	border-left: 1px solid black;
}
.sidebar_menu{
	list-style-type: none;
	padding-left: 10px;
}
.sidebar_menu li{
	border-bottom: 1px solid grey;
}
.sidebar_menu li a{
	text-decoration: none;
	color: black;
	font-size: 16px;
}
.sidebar_menu li:hover a{
	text-decoration: underline;
	color: grey;
}
div.posts{
	overflow: hidden;
	margin-left: 20px;
}
#post{
	border-radius: 15px;
	margin: 10px 0 0 10px;
	border: 1px solid rgba(0,0,0,.2);
	padding: 10px 10px;
	background: rgba(255,255,255, 0.3);
	box-shadow: 0 2px 10px -2px rgba(0,0,0,.4);
}
#post h3{
	float: left;
	text-decoration: none;
	color: #333;
	margin-left: 10px;
}
#post h3:hover{
	text-decoration: underline;
}
#time{
	float: right;
}
#time>span{
	font-weight: bold;
}
#post>article {
	padding: 10px 5px;
	overflow: hidden;
}
.artimg{
	width: 200px;
	height: 150px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius: 20px;
	background-color: rgba(2, 57, 186, .3);
}
.artimg img{
	max-width: 200px;
	max-height: 150px;
	padding: 0;
	border-radius: 20px;
	border: 3px solid rgba(2, 57, 186, .1);
}
.like{
	float: right;
	line-height: 30px;
}
.like i:hover{
	color: grey;
	cursor: pointer;
}
.tags{
	left: 200px;
}
.comments_shape {
	line-height: 30px;
}
div.top_panel{
	overflow: hidden;
	text-align: center;
	margin: 10px;
	border-bottom: 1px solid grey;
	padding-bottom: 20px;
}
.top_panel img{
	border-radius: 20px;
	border: 3px solid  rgba(2,57,186,.2);
	margin: 0 20px;
}
/*ССЫЛКА В КОТОРОМ ИЗОБРАЖЕНИЕ ШИРЕ САМОГО ИЗОБРАЖЕНИЯ*/